.image-wrapper {
  height: 50vh;
  /* width: auto; */
}

.floating-image {
    animation: Image-float infinite 3s ease-in-out;
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 100% - 150px; 
    max-width: 20%;
    
}

.still-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 150px;
    height: 100% - 150px; 
    max-width: 20%;
}

button {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes Image-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px)
    }
    100% {
      transform: translateY(0px)
    }
  }