.floating-image {
  animation: Image-float infinite 3s ease-in-out;
  display: block;
  margin: 150px auto 0;
  max-width: 20%;
}

.image-wrapper {
  height: 35vh;
}

.still-image {
  display: block;
  margin: 150px auto 0;
  max-width: 20%;
}

button {
  display: block;
  margin: 25px auto 0;
  text-align: center;
}

@keyframes Image-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
