@font-face {
  font-family: FiraSans-Regular;
  src: url(../src/fonts/FiraSans-Regular.ttf);
}

.nav-item {
  font-family: 'FiraSans-Regular';
  padding: 10px;
  color: lightgray;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}

nav {
  overflow: hidden;
  position: absolute;
  align-content: center;
  text-align: center;
  top: 0;
  width: 100%;
  height: 25px;
  background-color: black;
}
