@font-face {
  font-family: FiraSans-Regular;
  src: url(./fonts/FiraSans-Regular.ttf);
}

@font-face {
  font-family: Farewell;
  src: url(./fonts/farewell.ttf);
  font-weight: normal;
}

@font-face {
  font-family: FiraSans-ExtraBold;
  src: url(./fonts/FiraSans-ExtraBold.ttf);
}

body {
  background-color: rgba(245, 232, 196, 0.5);
}

p {
  font-family: FiraSans-Regular;
}

h1 {
  font-family: FiraSans-ExtraBold;
}

#nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  top: 0;
  width: 100%;
  height: 2rem;
  background-color: black;
}

#nav-bar .nav-item {
  display: inline;
  font-family: 'FiraSans-Regular';
  padding: 10px;
  color: lightgray;
  text-decoration: none;
}

#nav-bar .social-item {
  display: inline;
  font-family: 'FiraSans-Regular';
  padding: 5px;
  color: lightgray;
  text-decoration: none;
}

#nav-bar .nav-item:hover {
  text-decoration: underline;
}
