body {
  background-color: rgba(245, 232, 196, 0.5);
}

.blast {
  font-family: 'FiraSans-ExtraBold';
  font-size: 5rem;
  display: inline-block;
}

.blast:hover {
  animation: wiggle 1s infinite;
  animation-timing-function: linear;
  color: grey;
}

.column {
  align-items: center;
  display: flex;
  min-height: 200px;
  width: 50%;
}

@font-face {
  font-family: Farewell;
  src: url(../../fonts/farewell.ttf);
  font-weight: normal;
}

@font-face {
  font-family: FiraSans-ExtraBold;
  src: url(../../fonts/FiraSans-ExtraBold.ttf);
}

.headshot {
  border-radius: 100%;
  width: 50%;
  margin: auto;
  display: block;
  box-shadow: 0px 0px 5px 5px lightgrey;
}

.mobile-headshot {
  display: none;
}

.headshot:hover,
.mobile-headshot:hover {
  box-shadow: 0px 0px 5px 5px grey;
}

.left-column {
  flex-direction: column;
  margin: 3rem 0 0 0;
}

.tag {
  font-family: 'Farewell';
  font-size: 25px;
  margin: 0 auto 20px 20px;
}

.margin-left-65 {
  margin-left: 65px;
}

.margin-left-125 {
  margin-left: 125px;
}

.row {
  display: flex;
  margin: 0 auto;
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}

@media screen and (max-width: 600px) {
  .mobile-headshot {
    border-radius: 100%;
    width: 50%;
    margin: 0 auto 1rem;
    display: block;
    box-shadow: 0px 0px 5px 5px lightgrey;
  }

  .left-column {
    width: 100%;
  }

  .blast {
    font-size: 3rem;
  }

  .right-column {
    display: none;
  }
}
